@import '../utils/variables';

.menu-btn {
    padding: 2px 6px;
    border-radius: 4px;
    position: relative;
    border: none;
}

.cancel-btn {
    width: max-content;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: var(--color-red);
    border: none;
    margin-bottom: 12px;

    &:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
}
