@import '../utils/mixins';
@import '../utils/variables';

.context-menu,
#inbox--details {
    padding: 4px 8px;
    position: absolute;
 }

.menu-item {
    padding: 8px 4px;
    text-align: right;
    cursor: pointer;
}

#inbox--details {
    text-align: center;
    height: 50%;
    width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

