footer {
    padding: 40px 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.rtl {
    direction: rtl;
    text-align: right;
    }
    
    .ltr {
    direction: ltr;
    text-align: left;
    }
    
    select {
        width: 25%;
    @include centered-content;
    border: none;
    border-radius: 4px;
    color: var(--color-border);
    background-color: var(--color-primary);
    }