@import "../utils/variables";

$dark-theme: map-get($themes, dark);

.dark-theme {
  background-color: map-get($dark-theme, background-color);
  color: map-get($dark-theme, text-color);

  table {
    background-color: map-get($dark-theme, table-bg-color);
    color: map-get($dark-theme, text-color);
  }

  button,
  select {
    background-color: map-get($dark-theme, button-bg-color);
    color: map-get($dark-theme, button-text-color);
  }
  .context-menu,
  .selected-details {
    background-color: map-get($dark-theme, card-bg-color);
    color: map-get($dark-theme, text-color);
  }
}

.web-mode {
  text-align: center;
}

.p-light {
  position: absolute;
  bottom: 8px;
  left: -48px;
}
.p-dark {
  position: absolute;
  bottom: 8px;
  right: -48px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.round {
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: var(--color-btn);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-btn);
}

input:checked + .slider::before {
  transform: translateX(26px);
}
