@import "../utils/variables";
@import "../themes/dark-theme";
@import "../themes/light-theme";

body {
  width: 90%;
  height: 100vh;
  margin: auto;

  .rtl {
  direction: rtl;
  text-align: right;
  }
  
.ltr {
direction: ltr;
text-align: left;
}
  


    

}

body.light-theme {
  @extend .light-theme;
}

body.dark-theme {
  @extend .dark-theme;
}
