@import "../utils/variables";
@import "../themes/dark-theme";
@import "../themes/light-theme";

body {
  width: 90%;
  height: 100vh;
  margin: auto;
}

body.light-theme {
  @extend .light-theme;
}

body.dark-theme {
  @extend .dark-theme;
}
