header {
    display: flex;
    width: 100%;
    .header {
        display: flex;
        width: 100%;
        align-items: center;
        box-shadow: 0 2px 4px rgba(109, 24, 24, 0.08), 0 4px 12px rgba(0, 0, 0, .08);
        height: 72px;
        justify-content: space-between;
            &__info {
                display: flex;
                justify-content: left;
                width: 900px;
            
    
                ul {
                    display: flex;
                    a {
                        text-decoration: none;
                        padding: 8px 12px;
                    }
                    a:hover {
                        text-decoration: underline;
                        
                        border-radius: 7px;
                        background-color: $grayLight;
                    }
                    a:active {
                        border: 1px solid $black;
                        background-color: rgb(229, 229, 14);
                    }
                }
            }
            &__logo {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-right: calc(-.5*var(--bs-gutter-x));
                margin-left: calc(60px);
                }
            }
            .buttons {
                width: 400px;
                gap: 16px;
            }
            
        }

@media screen and (max-width: 900px) {
    .info a {
        display: none;
    }
}
@media screen and (max-width: 560px) {
    .btn {
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .noborder {
        display: none;
    }
}