footer {
    margin-top: 180px;
}

.rtl {
    direction: rtl;
    text-align: right;
    }
    
    .ltr {
    direction: ltr;
    text-align: left;
    }
    
    select {
    @include centered-content;
    margin-bottom: 40px ;
    border: none;
    border-radius: 4px;
    color: var(--color-border);
    background-color: var(--color-btn);
    }