footer {
    margin-top: 100px;
}

.rtl {
    direction: rtl;
    text-align: right;
    }
    
    .ltr {
    direction: ltr;
    text-align: left;
    }
    
    select {
    @include centered-content;
    border: none;
    border-radius: 4px;
    }
