/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Noto+Naskh+Arabic:wght@400..700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25rem;
}
body header h1 {
  font-weight: 600;
}
body th {
  font-size: large;
  font-weight: 600;
}
body .menu-btn i {
  font-size: small;
}
body #inbox--details {
  line-height: 1.75rem;
}

.dark-theme, body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}
.dark-theme table {
  background-color: #333333;
  color: #ffffff;
}
.dark-theme button,
.dark-theme select {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .context-menu,
.dark-theme #inbox--details,
.dark-theme #selected-details {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .cancel-btn {
  background-color: transparent;
}

.web-mode {
  text-align: center;
}

.p-light {
  position: absolute;
  bottom: 8px;
  left: -48px;
}

.p-dark {
  position: absolute;
  bottom: 8px;
  right: -48px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.round {
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.light-theme, body.light-theme {
  background-color: #ffffff;
  color: #000000;
}
.light-theme table {
  background-color: #f9f9f9;
  color: #000000;
}
.light-theme button,
.light-theme select {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .context-menu,
.light-theme #inbox--details,
.light-theme #selected-details {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .cancel-btn {
  background-color: transparent;
}

body {
  width: 90%;
  height: 100vh;
  margin: auto;
}
body .rtl {
  direction: rtl;
  text-align: right;
}
body .ltr {
  direction: ltr;
  text-align: left;
}

.menu-btn {
  padding: 2px 6px;
  border-radius: 4px;
  position: relative;
  border: none;
}

.cancel-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  color: var(--color-red);
  border: none;
  margin-bottom: 12px;
}
.cancel-btn:hover {
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.dark-theme, body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}
.dark-theme table {
  background-color: #333333;
  color: #ffffff;
}
.dark-theme button,
.dark-theme select {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .context-menu,
.dark-theme #inbox--details,
.dark-theme #selected-details {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .cancel-btn {
  background-color: transparent;
}

.web-mode {
  text-align: center;
}

.p-light {
  position: absolute;
  bottom: 8px;
  left: -48px;
}

.p-dark {
  position: absolute;
  bottom: 8px;
  right: -48px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.round {
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.light-theme, body.light-theme {
  background-color: #ffffff;
  color: #000000;
}
.light-theme table {
  background-color: #f9f9f9;
  color: #000000;
}
.light-theme button,
.light-theme select {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .context-menu,
.light-theme #inbox--details,
.light-theme #selected-details {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .cancel-btn {
  background-color: transparent;
}

.context-menu,
#inbox--details,
#selected-details {
  padding: 4px 8px;
  position: absolute;
}

.menu-item {
  padding: 8px 4px;
  text-align: right;
  cursor: pointer;
}

#inbox--details,
#selected-details {
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.dark-theme, body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}
.dark-theme table {
  background-color: #333333;
  color: #ffffff;
}
.dark-theme button,
.dark-theme select {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .context-menu,
.dark-theme #inbox--details,
.dark-theme #selected-details {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .cancel-btn {
  background-color: transparent;
}

.web-mode {
  text-align: center;
}

.p-light {
  position: absolute;
  bottom: 8px;
  left: -48px;
}

.p-dark {
  position: absolute;
  bottom: 8px;
  right: -48px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.round {
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.light-theme, body.light-theme {
  background-color: #ffffff;
  color: #000000;
}
.light-theme table {
  background-color: #f9f9f9;
  color: #000000;
}
.light-theme button,
.light-theme select {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .context-menu,
.light-theme #inbox--details,
.light-theme #selected-details {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .cancel-btn {
  background-color: transparent;
}

body {
  width: 90%;
  height: 100vh;
  margin: auto;
}
body table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}
body table th,
body table td {
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
body table input[type=checkbox] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

header {
  width: 99%;
  padding: 24px;
  background-color: transparent;
}

.web-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer {
  margin-top: 100px;
}
footer select {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

.dark-theme, body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}
.dark-theme table {
  background-color: #333333;
  color: #ffffff;
}
.dark-theme button,
.dark-theme select {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .context-menu,
.dark-theme #inbox--details,
.dark-theme #selected-details {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .cancel-btn {
  background-color: transparent;
}

.web-mode {
  text-align: center;
}

.p-light {
  position: absolute;
  bottom: 8px;
  left: -48px;
}

.p-dark {
  position: absolute;
  bottom: 8px;
  right: -48px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.round {
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.light-theme, body.light-theme {
  background-color: #ffffff;
  color: #000000;
}
.light-theme table {
  background-color: #f9f9f9;
  color: #000000;
}
.light-theme button,
.light-theme select {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .context-menu,
.light-theme #inbox--details,
.light-theme #selected-details {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .cancel-btn {
  background-color: transparent;
}

.dark-theme, body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}
.dark-theme table {
  background-color: #333333;
  color: #ffffff;
}
.dark-theme button,
.dark-theme select {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .context-menu,
.dark-theme #inbox--details,
.dark-theme #selected-details {
  background-color: #555555;
  color: #ffffff;
}
.dark-theme .cancel-btn {
  background-color: transparent;
}

.web-mode {
  text-align: center;
}

.p-light {
  position: absolute;
  bottom: 8px;
  left: -48px;
}

.p-dark {
  position: absolute;
  bottom: 8px;
  right: -48px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.round {
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.light-theme, body.light-theme {
  background-color: #ffffff;
  color: #000000;
}
.light-theme table {
  background-color: #f9f9f9;
  color: #000000;
}
.light-theme button,
.light-theme select {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .context-menu,
.light-theme #inbox--details,
.light-theme #selected-details {
  background-color: #e0e0e0;
  color: #000000;
}
.light-theme .cancel-btn {
  background-color: transparent;
}/*# sourceMappingURL=style.css.map */
