/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Noto+Naskh+Arabic:wght@400..700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25rem;
}
body header h1 {
  font-weight: 600;
}
body th {
  font-size: large;
  font-weight: bold;
}
body .menu-btn i {
  font-size: small;
}
body #inbox--details {
  line-height: 1.75rem;
}

:root {
  --color-primary: burlywood;
  --color-secondary: bisque;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(82, 58, 31);
  --color-border: floralwhite;
  --color-btn: #2196f3;
  --color-red: rgb(194, 30, 30);
}

.menu-btn {
  padding: 2px 6px;
  border-radius: 4px;
  position: relative;
  border: none;
  background-color: var(--color-btn);
}
.menu-btn i {
  color: var(--color-border);
}

.cancel-btn {
  width: 100%;
  text-align: right;
  color: var(--color-red);
  background: transparent;
  border: none;
  margin-bottom: 12px;
}

.menu-btn:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

:root {
  --color-primary: burlywood;
  --color-secondary: bisque;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(82, 58, 31);
  --color-border: floralwhite;
  --color-btn: #2196f3;
  --color-red: rgb(194, 30, 30);
}

:root {
  --color-primary: burlywood;
  --color-secondary: bisque;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(82, 58, 31);
  --color-border: floralwhite;
  --color-btn: #2196f3;
  --color-red: rgb(194, 30, 30);
}

.context-menu,
#inbox--details,
.card {
  padding: 4px 8px;
  border: 4px solid var(--color-border);
  background-color: var(--color-primary);
  position: absolute;
}

#selected-details {
  margin-top: 200px;
}

.menu-item {
  border-bottom: var(--color-border);
  padding: 8px 4px;
  text-align: right;
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--color-secondary);
}

#inbox--details,
.card {
  vertical-align: middle;
  text-align: center;
  height: -moz-max-content;
  height: max-content;
  width: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

:root {
  --color-primary: burlywood;
  --color-secondary: bisque;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(82, 58, 31);
  --color-border: floralwhite;
  --color-btn: #2196f3;
  --color-red: rgb(194, 30, 30);
}

:root {
  --color-primary: burlywood;
  --color-secondary: bisque;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(82, 58, 31);
  --color-border: floralwhite;
  --color-btn: #2196f3;
  --color-red: rgb(194, 30, 30);
}

body {
  width: 90%;
  height: 100vh;
  margin: auto;
}

table {
  margin: 0 auto;
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid var(--color-border);
}

th {
  background-color: var(--color-primary);
}

th,
td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

tr:nth-child(odd) {
  background-color: var(--color-white);
}

tr:nth-child(even) {
  background-color: var(--color-secondary);
}

tr:hover {
  background-color: var(--color-primary);
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--color-btn);
}

header {
  width: 99%;
  padding: 24px;
  background-color: transparent;
}

.web-mode {
  display: flex;
  justify-content: flex-end;
}

footer {
  margin-top: 180px;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

select {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 40px;
  border: none;
  border-radius: 4px;
  color: var(--color-border);
  background-color: var(--color-btn);
}

:root {
  --color-primary: burlywood;
  --color-secondary: bisque;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(82, 58, 31);
  --color-border: floralwhite;
  --color-btn: #2196f3;
  --color-red: rgb(194, 30, 30);
}

.dark-theme {
  background-color: var(--color-dark);
}
.dark-theme table tr:nth-child(odd) {
  color: var(--color-border);
  background-color: var(--color-dark);
}
.dark-theme table tr:nth-child(odd):hover {
  background-color: var(--color-primary);
}
.dark-theme header h1 {
  color: var(--color-white);
}

.web-mode {
  text-align: center;
}

.p-light {
  position: absolute;
  bottom: 8px;
  left: -48px;
}

.p-dark {
  position: absolute;
  bottom: 8px;
  right: -48px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.round {
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: var(--color-btn);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-btn);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

:root {
  --color-primary: burlywood;
  --color-secondary: bisque;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(82, 58, 31);
  --color-border: floralwhite;
  --color-btn: #2196f3;
  --color-red: rgb(194, 30, 30);
}

:root {
  --color-primary: burlywood;
  --color-secondary: bisque;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(82, 58, 31);
  --color-border: floralwhite;
  --color-btn: #2196f3;
  --color-red: rgb(194, 30, 30);
}/*# sourceMappingURL=style.css.map */