:root {
    
    --color-primary: burlywood; 
    --color-secondary: bisque;
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-dark: rgb(82, 58, 31);
    --color-border: floralwhite;  
    --color-btn: #2196f3; 
    --color-red: rgb(194, 30, 30);


}